<html>
<head></head>
<body>
  <h1>Edit My Info</h1>
  <form action="/" method="POST">
    <label>First Name: </label>
    <input name="firstname" type="text" value="<%= @user.firstname %>"></input>
    <button name="Submit">Save</button>
  </form>
</body>
</html>
