<html>
<head></head>
<body>
  <form action="/" method="POST">
    <label>Change something here: </label>
    <input name="theText" type="text" value="<%= @valueFromDb %>"></input>
    <button name="Submit">Save</button>
  </form>
</body>
</html>
